<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kn.ThisApp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" >
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<!-- Samsung -->
	<uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
	<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
	<application android:label="ThisApp"></application>
</manifest>
